{% extends 'base_assets_form.html' %}


{% block form_action %}
    /assets/asset_manage_new/{{ asset_type }}
{% endblock %}
{# 各类型对应表单 #}
{% block extends_form %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h3>{{ asset.get_asset_type_display|default:"存储设备" }}信息</h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="form-group">
                    <label for="sub_asset_type" class="col-sm-2 control-label">存储设备类型</label>
                    <div class="col-sm-3">
                        <!--<input type="text" class="form-control" placeholder=" " value="{{ asset.storagedevice.get_sub_asset_type_display }}"> -->
                        <select name="sub_asset_type" id="id_sub_asset_type" class="form-control">
                            <option value="1">磁盘阵列</option>
                            <option value="2">网络存储器</option>
                            <option value="3">磁带库</option>
                            <option value="4">磁带机</option>
                        </select>
                    </div>

                    <label for="model" class="col-sm-2 control-label">存储设备型号</label>
                    <div class="col-sm-3">
                        <input name="model" type="text" class="form-control" placeholder=" " value="{{ asset.storagedevice.model }}">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

