{% extends 'base_detail.html' %}

{% block table_extends %}
    <br />
    <table border="1" class="table table-responsive" style="border-left:3px solid green;border-bottom:1px solid green">
        <thead>
        <tr>
            <th>安全设备类型</th>
            <th>安全设备型号</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ asset.securitydevice.get_sub_asset_type_display }}</td>
            <td>{{ asset.securitydevice.model }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}